@import '../../styles/abstracts/colors';
@import '../../styles/mixins/mixins';
@import '../../styles/mixins/breakpoints';

.__statement-container {
    height: 100%;

    h2 {
        font-size: 3rem;
        font-weight: bold;
        height: 10%;
    }

    .__statement-content {
        height: 90%;

        .__statement-search {
            height: 12%;
            display: flex;

            div {
                @include allCenter;
            }

            input, select {
                @include buttonOrInput;
                margin: 0 8rem 0 2rem;
                width: 40rem;
                padding-left: 2rem;

                option {
                    color: white;
                    background-color: getColor('background');
                }
            }
        }

        .__statement-table {
            height: 88%;

            table {
                width: 100%; 
                
                tr {
                    border-bottom: 1px solid red;

                    th, td {
                        padding: 2rem 0;
                        text-align: left;
                        font-size: 2rem;
                    }

                    .icon-table {
                        padding: 1.5rem;
                        border-radius: .5rem;
                    }

                    .td-name {
                        display: flex;
                        align-items: center;
                        gap: 1.5rem;
                    }

                    .button-detail {
                        @include buttonOrInput;
                        border: 1px solid getColor('primary');
                        color: getColor('primary');
                        cursor: pointer;
                        margin: 0;

                        &:hover {
                            transition: .2s;
                            box-shadow: 0px 0px 10px getColor('primary');
                        }
                    }
                }
            }
        }
    }
}