@import '../../../styles/abstracts/colors';
@import '../../../styles/mixins/mixins';
@import '../../../styles/mixins/breakpoints';

.__cards-content {
    height: 75%;
    @include allCenter;

    .__cards-total {
        width: 30rem;
        aspect-ratio: 2/1;
        border-radius: 2rem;
        padding: 1.5rem;
        background-color: getColor('primary');
        color: getColor('text-on-secondary');
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .__cards-header {
            display: flex;
            justify-content: space-between;
        }

        .__cards-info {

            p {
                font-size: 1.8rem;
                font-weight: bold;
                padding-bottom: .5rem;
            }
        }
    }
}