@import './abstracts/colors';

@mixin allCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin buttonOrInput {
  @include allCenter;
  width: 75%;
  height: 5rem;
  margin: 2rem auto;
  font-size: 1.7rem;
  color: getColor('text-on-primary');
  border: 1px solid getColor('stroke');
  background-color: transparent;
  border-radius: 1rem;
}

@mixin buttonGoogle {
  @include buttonOrInput;
  justify-content: space-around;
  cursor: pointer;
  padding: 0 5rem;
  font-size: 1.7rem;

  img {
    width: 4.5rem;
  }
}

@mixin buttonSubmit {
  @include buttonOrInput;
  background-color: getColor('primary');
  color: getColor('text-on-secondary');
  border: none;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  margin: 3rem auto;

  &:hover {
      transition: .2s;
      filter: saturate(1.3);
  }
}