@import '../../styles/abstracts/colors';
@import '../../styles/mixins/mixins';
@import '../../styles/mixins/breakpoints';

.__login-container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: getColor('background');

    .__login-header {
        position: absolute;
        width: 100%;
        height: 15vh;
        padding-right: 5rem; 
        @include allCenter;
        justify-content: flex-end;
    }

    .__login-content {
        width: 80%;
        height: 100vh;
        display: flex;
        margin: 0 auto;

        @include lg {
            display: block;
            width: 100%;
        }

        .__login-logo {
            float: left;
            width: 50%;
            height: 100vh;
            @include allCenter;
            flex-wrap: wrap;
            flex-direction: column;
            padding: 0 10rem;

            
            @include xl {
                width: 100%;
                flex-direction: row;
            }

            img {
                width: 80%;
                margin-bottom: 5rem;

                @include xl {
                    width: 100%;
                    margin-bottom: 2rem;
                }
            }

            h3 {
                font-size: 3.5rem;
                margin: 5rem 0 10rem;
                text-align: center;

                @include xl {
                    font-size: 3rem;
                }

                span {
                    text-decoration: underline;
                    text-decoration-color: getColor('primary');
                    text-underline-position: below;
                }
            }
        }

        .__login-form {
            float: right;
            width: 50%;
            @include allCenter;
            flex-direction: column;
            flex-wrap: wrap;
            height: 100vh;

            @include xl {
                width: 100%;
            }

            form {
                min-width: 50rem;
                padding: 1em 0;
                background: getColor('sidebar-background');
                border-radius: 1rem;
                box-shadow: getColor('box-shadow');

                @include xl {
                    min-width: 80vw;
                }

                .__login-form-title {
                    font-size: 2.7rem;
                    margin: 3rem 0 3rem;
                    text-align: center;
                }

                .__login-form-google {
                    @include buttonGoogle;
                }

                .__login-form-or {
                    @include allCenter;
                    justify-content: space-around;
                    width: 76%;
                    margin: 3rem auto;
                    font-size: 2rem;

                    span {
                        width: 10%;
                        text-align: center;
                    }

                    hr {
                        width: 40%;
                        height: 1px;
                        background: getColor('stroke');
                    }
                }

                .__login-form-input {
                    @include allCenter;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    width: 75%;
                    margin: 2rem auto;

                    label {
                        width: 100%;
                        font-size: 1.7rem;
                    }

                    input {
                        @include buttonOrInput;
                        width: 100%;
                        padding: 0 2rem;
                        margin: .5rem 0;
                        outline: none;

                        &:focus {
                            border: 1px solid getColor('primary');
                        }
                    }

                    p {
                        width: 100%;
                        font-size: 1.35rem;
                        cursor: pointer;

                        &:hover {
                            color: getColor('primary');
                            transition: .2s;
                        }
                    }
                }
                .__login-form-errors {
                    width: 70%;
                    text-align: center;
                    font-size: 1.6rem;
                    color: getColor('error');
                    height: 1rem;
                    margin: 0 auto;
                }

                .__login-form-button {
                    @include buttonSubmit;
                    text-decoration: none;
                }
            }

            .__login-cadastro {
                margin: 2rem auto;
                font-size: 1.6rem;
                text-align: center;
                width: 100%;

                a {
                    color: getColor('primary');
                    cursor: pointer;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}