@import '../../styles/abstracts/colors';
@import '../../styles/mixins/mixins';

.__header-container {
  width: 100%;
  @include allCenter;
  justify-content: flex-end;
  padding: 4rem 0;
  gap: 4rem;

  :nth-child(n+1) {
    color: getColor('primary');
    width: 2.5rem;
    cursor: pointer;
  }
}
