@import '../../styles/abstracts/colors';
@import '../../styles/mixins/mixins';

.__sidebar-container {
  width: 100%;
  height: 100%;

  height: 100vh;
  background: getColor('sidebar-background');
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 9rem;
  transition: 0.2s;

  .divLogo {
    width: 8rem;
    height: 5rem;
    margin: 2rem auto 0;
    @include allCenter;
    align-items: flex-end;
  }

  img {
    width: 85%;
    transition: .2s;
  }

  &.open {
    width: 28.5rem;

    img {
      width: 130%;
    }
  }

  .material-symbols-outlined {
    font-size: 2.2rem;
  }

  .btnSidebar {
    @include allCenter; 
    justify-content: start;
    margin-top: 4rem;

    button {
      background: none;
      border: none;
      cursor: pointer;
      color: getColor('text-on-primary');
      margin: 0 auto;

      #iconHandle {
        transition: 0.3s;
        transform: scale(1.2);

        &:hover {
          transform: scale(1.5);
        }
      }
    }
  }

  .nav {

    ul {
      width: 100%;
    }

    .link {
      position: relative;
      @include allCenter;
      justify-content: flex-start;
      text-decoration: none;
      color: getColor('text-on-primary');
      padding: 1.5rem 0;
      width: 85%;
      margin: 3rem auto;
      transition: 0.2s;
      border-radius: 20rem;
      border: 1px solid transparent;

      &:hover:not(.active) {
        color: getColor('primary');
        border: 1px solid getColor('primary');
      }

      &.active {
        background: getColor('primary');
      }

      .material-symbols-outlined {
        width: 8rem;
        @include allCenter;
      }

      p {
        display: none;

        &.open {
          position: absolute;
          left: 8.5rem;
          display: block;
          animation: reveal 1s;
        }

        @keyframes reveal {
          0% {
            filter: opacity(0);
          }
          100% {
            filter: opacity(1);
          }
        }
      }
    }
  }

}
