@import '../../styles/abstracts/colors';
@import '../../styles/mixins';

.__merchant-container {
  width: 100%;
  height: 100%;

  .btn-save {
    display: flex;
    height: 100%;
    align-items: flex-end;
    align-self: flex-end;
    flex-direction: row;
    margin-top: 2rem;
  }
}
