@import '../../styles/abstracts/colors';
@import '../../styles/mixins/mixins';

.__landing-page{
    width: 100%;
    height: 100%;
    background: getColor('background');
    @include allCenter;
    flex-wrap: wrap;

    .__landing-page-header {
        position: absolute;
        inset: 0 0 0 0;
        width: 100%;
        height: 15vh;
        padding-right: 5rem; 
        @include allCenter;
        justify-content: flex-end;
    }

    .__landing-page-title {
        width: 100%;
        @include allCenter;
    }

    .__landing-page-btn {
        display: flex;

        a {
            @include buttonSubmit;
            width: 20rem;
            text-decoration: none;
            margin: 0 3rem;
        }
    }


}