@import '../../styles/abstracts/colors';
@import '../../styles/mixins/mixins';
@import '../../styles/mixins/breakpoints';

.__landing-page{
    width: 100%;
    height: 100%;
    background: getColor('background');

    .__landing-page-header {
        height: 15h;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 2rem 12rem 0;

        img {
            width: 18rem;
            height: auto;

            @include md {
                width: 15rem;
                height: 15rem;
            }
        }

        @include md {
            padding: 0 5rem;
            border: 1px solid red;
        }
    }

    .__landing-page-btn {
        @include allCenter;
        justify-content: space-between;

        :nth-child(n+1) {
            margin: 0 1rem;
        }

        a {
            @include buttonSubmit;
            width: 20rem;
            text-decoration: none;
        }
    }
}